html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.calenderContainer {
  display: flex;
  justify-content: space-around;
}

.calender {
  width: 400px;
}

.todoCalender {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-radius: 10px;

}


.todo-input {
  width: 300px;
  border: 1px solid black;
  margin-right: 5px;
  padding: 20px;
}

.remainingTask {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #3B82F6;
  margin-top: 10px;
}

.todoMain {
  display: flex;
  justify-content: center;
}

.todoContainer {
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
  background-color: rgb(24, 216, 204);
}

.icons {
  display: flex;

}

.icon {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin-right: 10px;
  color: black;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  background-color: antiquewhite;
}
.icon:hover {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(30, 219, 140);
}
.iconDelete{
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin-right: 10px;
  color: black;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  background-color: antiquewhite;
}
.iconDelete:hover{
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(215, 103, 103); 
}
.completedHeading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #3B82F6;
  margin-top: 10px;
}

.completedList {
  border: 1px solid black;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
}


.footer2 {
  text-align: center;
  display: flex;
  justify-content: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3B82F6;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.social{
  color: aliceblue;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.icon2{
  border: 1px solid rgb(255, 251, 251);
  border-radius: 20%;
  padding: 5px;
}


@media only screen and (max-width:576px) {
  .calenderContainer{
    display: flex;
    flex-direction: column;
  }
  .calender{
    margin-left: 20px;
  }
  .Form{
    margin-left: 10px;
    margin-top: 40px;
}
.taskCalender{
  margin-left: 40px;
}
.navHeader{
  margin-left: 70px;
}
}